services:
  flask-api:
    build:
      context: ./python-app
    container_name: flask-api
    ports:
      - "5000:5000"
    volumes:
      - ./python-app/data:/app/data
    command: sh -c "python db.py --add_default_data && python app.py --host 0.0.0.0 --port 5000"
    restart: unless-stopped

  react-frontend:
    build:
      context: ./react-app
    container_name: react-frontend
    ports:
      - "3000:80"
    volumes:
      - ./react-app/build:/usr/share/nginx/html:ro
    command: ["nginx", "-g", "daemon off;"]
    depends_on:
      - flask-api
    restart: unless-stopped
